// ----------------- mixins 

// center
@mixin center($w:null, $h:null) { 
	width: $w;
	max-width: $max-width;
	height: $h;
	margin-left: auto;
	margin-right: auto;
}

// flexbox mixins
@mixin flexCenter () {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexy () {
	display: flex;
}

@mixin flexColumn () {
	flex-direction: column;
}

@mixin flexRow () {
	flex-direction: row;
}

@mixin flexJustifyContent ($just-cnt) {
	justify-content: $just-cnt;
}

//absolute position 
@mixin absolute-positioning($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Rounded elements
@mixin roundy($dim) {
	width: $dim;
	height: $dim;
	border-radius: 50%;
}


// Box shadow

@mixin b-shadow () {
  	-webkit-box-shadow: 4px 4px 5px 0px rgba(50,50,50,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(50,50,50,1);
	box-shadow: 4px 4px 5px 0px rgba(50,50,50,1);
}

// Border 
@mixin mainBorder($color) {
	border: 1px solid $color;
}

// transitions
@mixin transStd () {
	transition: all .4s ease;
}