// -------------------------------variables 


//colors
$color-primary: rgb(105, 106, 159); /* medium purple */
$color-sidebar: rgb(76, 76, 116); /*sidebar */
$color-top-graph: rgb(173, 175, 229); /* for top graph */
$color-selected: rgb(134, 204, 144); /*button and selected */

$color-text: rgb(120, 116, 118); /* text and cancel button */
$color-text-light: rgb(229, 229, 238);  /* color of graph text, contaier and form borders */
$white: #fff; /*main background and text inside purple areas */
$yellow : #e8ff1e; 

//fonts
$font-stack-primary: 'Roboto', sans-serif;

//Layout
$max-width: 1200px;

//Borders
$br: 8px;

//Media Queries 
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;