.container { //wraps whole app
	@include center();
	position: relative; // for .alert-box
	height: 100vh;
	max-width: $max-width;
	@media (min-width: $break-m) {
		padding-right: 64px; //width of nav
	}
}


//============
// ALERT BOX
// +++++++++++

.alert-box {
	@include b-shadow;
	@include absolute-positioning(36vh, 0, $left: 0);
	@include mainBorder($aqua-blue);
	margin: 0 auto;
	width: 90%;
	background: $dark;
	color: $white;
	border-radius: $br;
	display: none;
	z-index: 10000;
	opacity: .95;
	transition: opacity .5s ease;
	@media (min-width: $break-m) {
		width: 40%;
		top: 20vh;
	}
	h2 {
		color: $aqua-blue;
	}
}


.alert-wrap {
	@include flexCenter;
	@include flexColumn;
	height: 100%;
	width: 100%;
	padding: 1em;
	h2 {
		margin: 0;
		font-weight: normal;
	}
	ul {
		margin: 1em 0;
	}
	li {
		@include flexCenter;
		justify-content: space-between;
		margin: .5em 0;
		padding: .1em .5em;
		background: transparentize($white, .7);
		border-radius: calc(#{$br} - 2px);
	}
}


.add-list-div {
	@include flexCenter;
	@include flexColumn;
	border-radius: $br;
	background: lighten($dark, 20%);
	margin-bottom: 1em;
	padding: .5em;
}

.item-text-box {
	@include mainBorder($aqua-blue);
	margin-top: .7em;
	padding: .5em;
	border-radius: $br;
	width: 60%;
	background: lighten($dark, 20%);
	transition: all .4s ease;
	&:hover {
		border-color: $white;
	}
	&:focus {
		background: lighten($dark, 10%);
		color: $white;
		width: 100%;
	}
}


// 

.flex-wrap,
.nav-list {
	@include flexy;
}

.flex-wrap {
	@include flexColumn;
	/* height: 100%; */
	@media (min-width: $break-m) {
		flex-direction: row;
	}
}

// main nav
.main-nav {
	background: $dark;	
	@media (min-width: $break-m) {
		/* border: 1px solid $light-blue; */
		/* background: linear-gradient(to top, $light-blue, $dark-grey); */
	}
}

.nav-list {
	justify-content: space-around;
	li {
		padding: 1em;
		height: 5em;
		@include flexCenter;
		transition: all .4s ease;
		&:hover {
			background: $light-blue;
			/* border-bottom: 1px solid $white; */
		}
	}
	@media (min-width: $break-m) {
		flex-direction: column;
	}
}

.main-nav-selected {
	background: $light-blue;
	/* border: 1px solid $light-blue; */
}

.nav-icon-div {
	height: 2em;
	width: 2em;
}

// Nav tool tips

.tool {
	cursor: pointer;
	position: relative;
}

.tool::after { // hover bubble
	position: absolute;
	top: 100%;
	opacity: 0;
	z-index: -100;
	background: $light-blue;
	color: $white;
	border-radius: $br;
	padding: 1em;
	content: attr(data-tip);
	transform: scale(.6) translateY(-50%);
	transition: all .4s ease/* cubic-bezier(.84, -.18, .31, 1.26) */ .2s;
	@media (min-width: $break-m) {
		left: 100%;
		bottom: 0;
		top: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		transform: translateY(0) translateX(-50%);
	}
}

.tool:hover::after,
.tool:focus::after {
	opacity: 1;
	z-index: 100;
	transition-delay: 0s;
	transform: scale(1) translateY(0) translateX(0);
}

// End tool tips

.main {
	@include flexy;
	@include flexColumn;
	align-items: center;
	position: relative;
	background: rgba($dark, .5);
	color: $white;
	@media (min-width: $break-m) {
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1 90%;
	}
	h2 {
		padding: 1em;
	}
}

// contains .search-div and h2 Dashbaord header
.main-top {
	@include flexCenter;
	@include flexColumn;
	padding: 0;
	width: 100%;
	@media (min-width: $break-m) {
		@include flexRow;
		justify-content: space-between;
	}
}

.search-div {
	@media (min-width: $break-m) {
		@include flexCenter;
		padding: 1em;
		background: $dark-grey;
		background: linear-gradient(to right, $dark, $light-blue);
		border-radius: $br;
		border: 1px solid $light-blue;
		flex: 8 auto;
		justify-content: flex-end;
	}
}


.search {  // search input
	border-radius: $br;
	border: 1px solid $light-blue;
	height: 45px;
	padding: .3em 1em;
	background: url(../icons/magnifying-glass.svg) no-repeat;
	background-position: 95% 50%;
	background-size: 7%;
	background-color: $dark;
	color: $white;
	transition: all .4s ease;
	@media (min-width: $break-m) {
		width: 25%;
		/* border: none; */
	}
	&:focus {
		background-color: $dark;
		color: $white;
		@media (min-width: $break-m) {
			width: 40%;
		}
	}
}


// main alert
.main-alert{
	@include b-shadow;
	position: relative; // for .remove-btn
	position: absolute;
	top: 20vh;
	background: $dark;
	color: $white;
	border-radius: $br;
	border: 1px solid $white;
	margin: .5em auto;
	padding: .5em;
	width: 80%;
	max-width: 90%;
	z-index: 1000;
	opacity: .8;
	transition: all .7s ease;
	@media (min-width: $break-m) {
		width: 80%;
		padding: 1em;
		right: 10%;
		top: 40vh;
	}
	h3 {
		font-weight: bold;
		@media (min-width: $break-m) {
			display: inline-block;
		}
	}
	p {
		@media (min-width: $break-m) {
			display: inline-block;
			margin-right: 1%;
		}
	}
	.remove-btn {
		position: absolute;
		top: .5em;
		right: .5em;
		margin-left: 0;
		transition: all .4s ease;
	}
	&:hover {
		opacity: 1;
	}
	&:hover .remove-btn {
		transform: scale(1.3);
		border: 1px solid $white;
	}
}

//Main section layout

.widget {
	position: relative; // to position iframe and canvas for chart
	padding: 1.5em;
	width: 100%;
	height: auto;
	@include mainBorder($color-text-light);
	border-bottom: none;
	@media(min-width: $break-m) {
		border: none;
	}
}

// traffic top section
.traffic {
	border-top: none;
	width: 100%;
	height: auto;
	/* max-height: 600px; */
	margin: 0 auto;
}

.traffic-header {
	@include flexCenter;
	@include flexColumn;
	@include flexJustifyContent(#{space-between});
	@media(min-width: $break-m) {
		@include flexRow;
	}
}

.traffic-list {
	@include flexy;
	@include flexJustifyContent(#{space-between});
	width: 100%;
	@media(min-width: $break-m) {
		width: 40%;
	}
	& li {
		padding: .5em;
		border-radius: $br;
	}
}

.traffic-selected {
	background: $light-blue;
	color: $dark;
}
//

.daily-traffic,
.mobile-users,
.new-members,
.recent-activity,
.message-user,
.settings {
	@media(min-width: $break-m) {
		flex: 1 50%;
		@include mainBorder($color-text-light);
	}
}

.daily-traffic,
.mobile-users,
.recent-activity,
.new-members,
.message-user,
.settings {
	@media(min-width: $break-m) {
		border-left: none;
	}
}

.mobile-users,
.recent-activity,
.settings {
	@media(min-width: $break-m) {
		border-right: none;
	}
}

.new-members,
.recent-activity,
.message-user,
.settings {
	@media(min-width: $break-m) {
		border-bottom: none;
	}
}



//troubleshoot


/* canvas {
	max-height: 500px;

} */

/* iframe {
	border: 1px solid blue !important; 
}*/ 

