.container { //wraps whole app
	@include center(100%, 100vh);
	position: relative; // for .alert-box
}


//============
// ALERT BOX
// +++++++++++

.alert-box {
	@include b-shadow;
	@include absolute-positioning(36vh, 0, $left: 0);
	margin: 0 auto;
	width: 90%;
	background: $dark;
	color: $white;
	border-radius: $br;
	display: none;
	z-index: 10000;
	opacity: 1;
	transition: opacity .5s ease;
	@media (min-width: $break-m) {
		width: 40%;
		top: 20vh;
	}
}


.alert-wrap {
	@include flexCenter;
	@include flexColumn;
	height: 100%;
	width: 100%;
	padding: 1em;
	h2 {
		margin: 0;
		font-weight: normal;
	}
	ul {
		margin: 1em 0;
	}
	li {
		@include flexCenter;
		justify-content: space-between;
		margin: .5em 0;
		padding: .1em .5em;
		background: transparentize($white, .7);
		border-radius: calc(#{$br} - 2px);
	}
}


.add-list-div {
	@include flexCenter;
	@include flexColumn;
}

.item-text-box {
	margin-top: .7em;
	border-radius: $br;
	background: lighten($dark, 10%);
	transition: all .4s ease;
}

.item-text-box:focus {
	background: lighten($dark, 20%);
	color: $white;
}


// 

.flex-wrap,
.nav-list {
	@include flexy;
}

.flex-wrap {
	@include flexColumn;
	@media (min-width: $break-m) {
		flex-direction: row;
	}
}

.main-nav {
	background: $color-sidebar;
	@media (min-width: $break-m) {
		height: 100%;
	}
}

.nav-list {
	justify-content: space-around;
	li {
		padding: 1em;
		height: 5em;
		@include flexCenter;
		transition: all .4s ease;
		&:hover {
			background: lighten($color-sidebar, 10%);
			border-bottom: 1px solid $white;
		}
	}
	@media (min-width: $break-m) {
		flex-direction: column;
	}
}

.nav-icon-div {
	height: 2em;
	width: 2em;
}

// Nav tool tips

.tool {
	cursor: pointer;
	position: relative;
}

.tool::after { // hover bubble
	position: absolute;
	/* left: 100%; */
	top: 100%;
	opacity: 0;
	z-index: -100;
	background: lighten($color-sidebar, 10%);
	color: $white;
	border-radius: .25em;
	padding: 1em;
	content: attr(data-tip);
	transform: scale(.6) translateY(-50%);
	transition: all .6s ease/* cubic-bezier(.84, -.18, .31, 1.26) */ .2s;
	@media (min-width: $break-m) {
		left: 100%;
		bottom: 0;
		top: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		transform: translateY(0) translateX(-50%);
	}
}

.tool:hover::after,
.tool:focus::after {
	opacity: 1;
	z-index: 100;
	transition-delay: 0s;
	transform: scale(1) translateY(0) translateX(0);
}

// End tool tips

.main {
	@include flexy;
	@include flexColumn;
	align-items: center;
	@media (min-width: $break-m) {
		flex: 1 90%;
	}
	h2 {
		padding: 1em;
	}
}

// contains .search-div and h2 Dashbaord header
.main-top {
	@include flexCenter;
	@include flexColumn;
	padding: 0;
	width: 100%;
	@media (min-width: $break-m) {
		@include flexRow;
		justify-content: space-between;
	}
}

.search-div {
	@media (min-width: $break-m) {
		@include flexCenter;
		border: 1px solid $color-text-light;
		padding: 1em;
		background: lighten($color-text-light, 5%);
		flex: 8 auto;
		justify-content: flex-end;
	}
}

.search {  // search input
	border-radius: $br;
	border: 1px solid $color-text-light;
	height: 45px;
	padding: .3em 1em;
	background: url(../icons/magnifying-glass.svg) no-repeat;
	background-position: 95% 50%;
	background-size: 7%;
	transition: all .4s ease;
	@media (min-width: $break-m) {
		width: 30%;
	}
	&:focus {
		background: $color-text-light;
		@media (min-width: $break-m) {
			width: 50%;
			color: $color-primary;
		}
	}
}

.mag-glass-icon {
	fill: $color-primary;
}
