.main-header,
.header-list,
.profile-div {
	display: flex;
}


.main-header {
	background: $color-primary;
	color: $white;
	width: 100%; // of .container div
	height: auto;
	padding: 1em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media (min-width: $break-m) {
		padding-left: 2em;
		padding-right: 2em;
		flex-direction: row;
		justify-content: space-between;
	}
}


.logo {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
	font-size: 2rem;
	&-span {
		font-weight: 100;
	}
	@media (min-width: $break-m) {
		margin-bottom: 0;
	}
}

.header-list {

	height: 50px;
	li {
		padding: .5em 1em;
	} 

	li:first-child {
		margin-right: auto;
		position: relative; // for bell indicator
	}

	li:last-child {
			border-left: 1px solid $color-sidebar; //rule for desktop 
			p {
				display: none;
			}
		}

	@media (min-width: $break-m) {
		li:last-child {
			border-left: 1px solid $color-sidebar; //rule for desktop 
			p {
				display: inline-block;
			}
		}
	}
	
}

.bell {
	height: 100%;
}

.bell-indicator {
	position: absolute;
	top: 0;
	right: 16px;
	@include roundy(9px);
	background: $color-selected;
}

.profile-div {
	p {
		margin: 0;
		align-self: center;
	}
}

.profile-pic {
	@include roundy(35px);
	margin-right: .5em;
}

.header-link {
	border-radius: $br;
} 

.header-link p {
	border-radius: $br;
	transition: all .4s ease;
}

.header-link:hover,
.header-link:focus,
.header-link:hover p,
.header-link:focus p {
	/* background: $color-sidebar; */
	border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	background: lighten($color-primary, 3%);
}

.bell {
	transition: all .8s ease;
}

.bell:hover,
.bell:focus {
	transform: rotateY(-180deg);
}