
.button {
	color: $white;
	text-align: center;
	padding: .625em 1.25em;
	border-radius: $br;
	text-shadow: $t-shadow;
}

.add-notification-btn {
	@include mainBorder($white);
	@include transStd;
	padding: .1em .5em;
	margin-top: .7em;
	color: $white;
	background: lighten($dark, 20%);
	&:hover {
		color: $light-blue;
		border-color: $light-blue;
	}
}

.alert-close-btn {
	@include mainBorder($white);
	background: $aqua-blue;/* $color-selected; */
	transition: all .4s ease;
	&:hover {
		background: darken($light-blue/* $color-selected */, 20%);
	}
}

.remove-btn {
	@include flexCenter;
	@extend .button;
	@extend .alert-close-btn;
	@include roundy(1.3em);
	margin-left: 1em;
	padding: .1em;
	cursor: pointer;
}

