
.button {
	color: $white;
	text-align: center;
	padding: .625em 1.25em;
	border-radius: $br;
	text-shadow: $t-shadow;
}

.add-notification-btn {
	padding: .1em .5em;
	margin: .7em 0 1em;
	color: $color-selected;
	background: lighten($dark, 10%);
}

.alert-close-btn {
	background: $color-selected;
	transition: all .4s ease;
	&:hover {
		background: darken($color-selected, 20%);
	}
}

.remove-btn {
	@include flexCenter;
	@extend .button;
	@extend .alert-close-btn;
	@include roundy(1.3em);
	margin-left: 1em;
	padding: .1em;
	cursor: pointer;
}

